<section class="section section-sm bg-image section-filter-white" style="padding:0px !important;">
    <div class="container">
        <div class="row row-30 justify-content-lg-between align-items-md-center">
            <div class="col-md-7 col-lg-6 text-center text-md-left">
                <h4>Quality Products <br>at Competitive Prices</h4><br />
                <div class="owl-item active" style="width: 280px; margin-right: 30px;"><img src="/images/logo-4-160x50.png" alt="" width="160" height="50"></div>
                <p style="padding:5px;" class="font-weight-medium text-gray-900 d-flex align-items-start justify-content-center justify-content-md-start font-sec"><span class="nc-icon-mini ui-2_time-clock text-primary pr-2 big"></span><span class="pt-1">Понедельник-Пятница: 9:00 - 18:00;</span></p>
                <p class="font-weight-medium text-gray-900 d-flex align-items-start justify-content-center justify-content-md-start font-sec"><span class="nc-icon-mini location_pin text-primary pr-2 big"></span><span class="pt-1">Киев, ул. Победы, дом 23.</span></p>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="form-box">
                    <h4>Свяжитесь с нами</h4>
                    <form asp-action="MakeDeal" method="post" class="rd-form rd-form-centered">
                        <div class="form-wrap">
                            <label class="form-label rd-input-label" for="contact-name">Введите имя</label>
                            <input class="form-input form-control-last-child" id="contact-name" type="text" name="Name" required>
                        </div>

                        <div class="form-wrap">
                            <label class="form-label rd-input-label" for="contact-phone">Введите номер телефона</label>
                            <input class="form-input form-control-last-child" id="contact-phone" type="text" name="Phone" required>
                        </div>

                        <input class="button button-block button-secondary" type="submit" value="Отправить" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
