<div style="text-align: center;">
    <p><mark>Ваша заявка принята!</mark><br /><br />Наш менеджер свяжется с Вами в ближайшее время.</p>
    <p>Вы уже ознакомились с нашими <a href="/Windows/Index">товарами</a>?</p><br />
</div>
<hr/>