@{
    ViewBag.Title = "О нас";
}

<section class="section section-sm">
    <div class="container">
        <div class="row row-30">
            <div class="col-lg-6">
                <h3>НЕСКОЛЬКО СЛОВ О НАС</h3>
                <p>Мы - команда профессиональных и квалифицированных специалистов во всех отечественных сферах. Мы предлагаем широкий спектр услуг, и в то же время мы всегда рады помочь вам с любым запросом, связанным с дверями или окнами:</p>
                <ul class="list-marked">
                    <li>Установка окон</li>
                    <li>Замена окон</li>
                    <li>Демонтаж окон</li>
                    <li>Установка дверей</li>
                    <li>Обслуживание дверей и окон</li>
                    <li>Ремонтное обслуживание</li>
                </ul>
            </div>
            <div class="col-lg-6 text-center">
                <img src="../images/about-1-560x373.jpg" alt="" width="560" height="373">
            </div>
        </div>
    </div>
</section>


<section class="section section-sm bg-gray-100">
    <div class="container">
        <h3 class="text-center">ПОЧЕМУ МЫ?</h3>
        <div class="row row-30">
            <div class="col-md-6 col-lg-3">
                <div class="box-icon-creative">
                    <div class="icon nc-icon-outline ui-2_time"></div>
                    <div class="box-icon-creative-body">
                        <h6 class="box-icon-creative-title">Всегда на связи</h6>
                        <p class="box-icon-creative-text">
                            Мы принимаем запросы и телефонные звонки 24/7 чтобы вы могли решить любую проблему в любое время.
                            Наша команда будет на вашем месте в короткие сроки.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="box-icon-creative">
                    <div class="icon nc-icon-outline business_award-48"></div>
                    <div class="box-icon-creative-body">
                        <h6 class="box-icon-creative-title">Квалифицированные рабочие</h6>
                        <p class="box-icon-creative-text">Все члены нашей команды - высококвалифицированные, образованные и квалифицированные агенты. Все они проходят обучение по новейшим технологиям. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="box-icon-creative">
                    <div class="icon nc-icon-outline business_pig"></div>
                    <div class="box-icon-creative-body">
                        <h6 class="box-icon-creative-title">Выгодные цены</h6>
                        <p class="box-icon-creative-text">Наши цены справедливы и доступны для всех людей. Мы предлагаем гибкую систему скидок, чтобы вы могли воспользоваться любой необходимой услугой.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="box-icon-creative">
                    <div class="icon nc-icon-outline ui-2_favourite-31"></div>
                    <div class="box-icon-creative-body">
                        <h6 class="box-icon-creative-title"><a href="about.html#">Лучшие предложения</a></h6>
                        <p class="box-icon-creative-text">
                            Мы предоставляем скидки на самые популярные услуги и на сезонные услуги,
                            чтобы вы определенно могли получить любую помощь без промедления.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-sm section-filter-white">
    <div class="container">
        <h3 class="text-center">услуги</h3>
        <div class="row row-50">
            <div class="col-md-6 col-lg-4">
                <div class="product-classic">
                    <div class="product-classic-figure">
                        <img src="../images/home-1-360x270.jpg" alt="" width="360" height="270">
                    </div>
                    <h5 class="product-classic-title">Окна</h5>
                    <p class="product-classic-text">
                        Мы устанавливаем все типы окон, производим пользовательские формы и делаем дополнительное остекление.

                    </p>
                    <a asp-controller="Windows" asp-action="Index" class="button button-primary">Просмотреть окна</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="product-classic">
                    <div class="product-classic-figure">
                        <img src="../images/home-2-360x270.jpg" alt="" width="360" height="270">
                    </div>
                    <h5 class="product-classic-title">Двери</h5>
                    <p class="product-classic-text">
                        Стеклянные двери добавляют больше воздуха и пространства в комнаты. Деревянная дверь добавляет стиля.
                        Мы предлагаем широкий выбор стеклянных  и деревянных дверей.
                    </p>
                    <a asp-controller="" asp-action="" class="button button-primary">Просмотреть двери</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="product-classic">
                    <div class="product-classic-figure">
                        <img src="../images/home-3-360x270.jpg" alt="" width="360" height="270">
                    </div>
                    <h5 class="product-classic-title">Обслуживание</h5>
                    <p class="product-classic-text">
                        Даже самые качественные, надежные и дорогие окна могут выйти из строя. Если вы столкнулись с подобной проблемой,
                        мы предлагаем воспользоваться услугами нашей компании.
                    </p>
                    <a asp-controller="Home" asp-action="Contact" class="button button-primary">Оставить заявку</a>
                </div>
            </div>
        </div>
    </div>
</section>