@model string
<div class="form-wrap">
    <label class="form-label rd-input-label" for="Label-Generator"></label>
    <input class="form-input form-control-last-child" id="Label-Generator" type="text" value="@Model" readonly>
</div>